dd_alpha_amg
dd_alpha_amg_db
build
testlogs

# To be adjusted locally
#MakeSettings.mk

dependencies/*
!dependencies/install_dependencies_01.sh
!dependencies/install_dependencies_02.sh
!dependencies/install_dependencies_03.sh

# Ignore everything in conf/, except some default code/configs. This allows to add new test configs
conf/*
!conf/4x4x4x4b6.0000id3n1
!conf/8x8x8x8b6.0000id3n1
!conf/convert/
!conf/random/
!conf/split/
nohup.out
sample_devel_*
mpi_out_*
mpi_err_*

# Editor settings
.vscode
benchmark/a.out
